__pycache__
__pycache__/
.cache/
.coverage
coverage.xml
.DS_Store
.idea/
.nebulae/
.ve/
.vscode
*.data.cache
*.egg-info/
*.log
*.pyc
*.swp
**/test-results/
build-output/
build/
dist/
env.json
MANIFEST
node_modules/
test-reports/
